DISCORD_TOKEN=your_bot_token_here
GUILD_ID=your_guild_id_here
STATUS_CHANNEL_ID=your_status_channel_id_here
DOCKER_CHANNEL_ID=your_docker_channel_id_here
ALERTS_CHANNEL_ID=your_alerts_channel_id_here
DOCKER_ALERTS_CHANNEL_ID=your_docker_alerts_channel_id_here
